#!/bin/bash

APIHOST="localhost"
DEFAULT_LISTENER_HOST=0.0.0.0
DEFAULT_LISTENER_PORT=qube_listener_port
QUBE_BASE_NAME=`cat ./qube.yaml  | grep ^name  | grep -v "\- name" | awk '{print $2}'`
QUBE_DOCKER_IMAGE_LOCAL=$QUBE_BASE_NAME
QUBE_DOCKER_IMAGE=gcr.io/qubeship/qube_placeholder:latest
RUN_FROM_REMOTE_REGISTRY=1
MONGOALCHEMY_DATABASE=hello
MONGOALCHEMY_CONNECTION_STRING=mongodb://192.168.99.101:27017/hello
MONGOALCHEMY_SERVER=192.168.99.101
MONGOALCHEMY_PORT=27017
MONGOALCHEMY_DATABASE=hello

TOKEN=